## Visual Studio files
.vs/
*.user
*.suo

## Build results
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

## NuGet packages
*.nupkg
packages/
!packages/build/

## OS
Thumbs.db
.DS_Store
